.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    z-index: 2;
}

.cover__background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__background:hover::after {
    opacity: 0.8;
    transition: opasity 0.2s;
}